@page
@model ImageFlashCards.Pages.CreateLessonsModel
@{
    ViewData["Title"] = "CreateLessons";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="main-box">
    <div class="control-panel">

        @if (Model.Lesson?.Image != null && Model.Lesson?.Flashcards?.Count <= 5)
        {
            @*<form asp-page="CreateLessons" asp-page-handler="OnGetAsyncAddFlashcard"
                  asp-route-lessonid="@Model.Lesson.LessonId" method="get">
                <input type="submit"  class="add-flashcard-button control-panel-item" value="Add Flashcard"/>
            </form>*@
            <a asp-page="CreateLessons" asp-page-handler="AddFlashcard"
                  asp-route-lessonid="@Model.Lesson.LessonId">
                Add Flashcard
            </a>
        }

        @if (Model.Lesson?.Image == null)
        {
            <form class="control-panel-item" method="post" asp-page-handler="UploadImage" enctype="multipart/form-data">
                <input type="file" asp-for="Upload" accept="image/jpeg" />
                <input type="text" asp-for="AuthorUrl" value="" placeholder="Link to photographer" />
                <input type="submit" />
            </form>
        }

    </div>


    <div id="box-image" class="box-image" style="background-color: gray;">
        @*@if (Model.Lesson?.Flashcards?.Count > 0)
        {
            @foreach (var flashcard in Model.Lesson.Flashcards)
            {
                <partial name="../Pages/Shared/_FlashcardForEdit.cshtml" for="@flashcard" />
            }
        }*@
        @if (Model.Lesson?.Image != null)
        {
            <img id="lesson-image"
                 src="@Model.Lesson?.Image?.ImageUrlPath"
                 alt="@Model.Lesson?.Image?.ImageTitle">
        }


        @if (Model.Lesson?.Flashcards?.Count > 0)
        {
            @for (int index = 0; index <= Model.Lesson.Flashcards.Count - 1; index++)
            {
                <form asp-page="CreateLessons" method="post" asp-page-handler="SubmitFlashcards" asp-route-lessonid="@Model.Lesson?.LessonId">
                    <div class="flashcard-added top-left"
                        data-xdistance="@Model.Lesson.Flashcards[index].XCoordinate"
                        data-ydistance="@Model.Lesson.Flashcards[index].YCoordinate"
                        data-flashcard-id="@Model.Lesson.Flashcards[index].FlashcardId">
                        <div class="flashcard-content" style="display: flex; flex-flow: column; width: 100%; height: 100%;">
                            
                            <input class="word" type="text" asp-for="@Model.NativeWord" value="@Model.Lesson.Flashcards[index]?.WordPair?.EnglishWord?.Text" />
                            @*<input class="word" type="text" asp-for="@Model.ForeignWord" value="@Model.Lesson.Flashcards[index]?.WordPair?.SpanishWord?.Text" />*@

                            <input class="xdistance" type="hidden" asp-for="@Model.XCoordinate" value="@Model.Lesson.Flashcards[index].XCoordinate" />
                            <input class="ydistance" type="hidden" asp-for="@Model.YCoordinate" value="@Model.Lesson.Flashcards[index].YCoordinate" />
                            <input type="hidden" asp-for="@Model.FlashcardId" value="@Model.Lesson.Flashcards[index].FlashcardId" />
                            <input type="submit" value="Save" />
                            <a asp-page="CreateLessons" asp-page-handler="DeleteFlashcard" 
                               asp-route-flashcardid="@Model.Lesson.Flashcards[index].FlashcardId"
                               asp-route-lessonid="@Model.Lesson.LessonId">Delete</a>
                        </div>
                    </div>
                </form>
            }

        }


                

    </div>
</div>

@section scripts {
    <environment include="Development">
        @*<script src="~/js/jquery-3.4.1.slim.min.js" asp-append-version="true"></script>*@
        <script src="~/js/fc-engine.js" asp-append-version="true"></script>

        <script src="~/js/fc-engine-edit.js" asp-append-version="true"></script>
        @*<script src="~/js/fc-engine.js" asp-append-version="true"></script>*@

    </environment>
    <environment exclude="Development">
        <script src="~/js/fc-engine.js" asp-append-version="true"></script>
    </environment>

}
