@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="main-box">



        <section id="box-image" class="box-image">
            @if (Model.Lesson != null)
            {
                if (Model.Lesson?.Image != null)
                {
                    <img id="lesson-image" src="@Model.Lesson?.Image?.ImageUrlPath" alt="@Model.Lesson?.Image?.ImageTitle">
                    @foreach (var flashcard in Model.Lesson?.Flashcards)
                    {
                        <partial name="../Pages/Shared/_Flashcard.cshtml" for="@flashcard" />
                    }
                }
            }
            @if (!String.IsNullOrEmpty(Model.Lesson?.Image?.AuthorUrl))
            {
                <div style="display:flex;justify-content:flex-end;">
                    <a target="_blank" href="@Model.Lesson?.Image?.AuthorUrl" style="font-size:0.6em;border-radius:1px;padding:0.2em;position:relative;right:0;top:-1em;background:lightblue;text-decoration:none;">Photograph by</a>
                </div>
            }
            else
            {
                <div style="height: 0.9em;"></div>
            }
        </section>

        <section id="next-back-button-panel-section" >
            <div id="next-back-button-panel" class="site-width">
                @if (Model.PreviousLessonId > 0)
                {
                    <a class="remove-text-decoration color-black next-back-button" asp-page="Index" asp-route-lessonid="@Model.PreviousLessonId">
                        <span>&lt;&lt;</span>
                    </a>
                }
                else
                {
                    <div class="remove-text-decoration
                       color-black next-back-button
                       next-back-button-disabled">
                        <span>&lt;&lt;</span>
                    </div>
                }

                @if (Model.NextLessonId > 0)
                {
                    <a class="remove-text-decoration color-black next-back-button" asp-page="Index" asp-route-lessonid="@Model.NextLessonId">
                        <span>>></span>
                    </a>
                }
                else
                {
                    <div class="remove-text-decoration
                       color-black next-back-button
                       next-back-button-disabled" >
                        <span>>></span>
                    </div>
                }
            </div>
        </section>
        @*<div class="panel">
            <ul class="panel-list">
                <li class="panel-list-item panel-list-item-button">
                    <label for="expand-all" style="width:100%; display:flex;align-items:center;justify-content:center;">
                        <label class="switch">
                            <input id="autoscale" type="checkbox">
                            <span class="slider round main-theme-background-color"></span>
                        </label>
                        <span class="panel-list-item-content" style="margin-left: 0.3em;">Auto Scale</span>
                    </label>
                </li>
                <li class="panel-list-item panel-list-item-button">
                    <label for="expand-all" style="width:100%; display:flex;align-items:center;justify-content:center;">
                        <label class="switch">
                            <input id="expand-all" type="checkbox">
                            <span class="slider round main-theme-background-color"></span>
                        </label>
                        <span class="panel-list-item-content" style="margin-left: 0.3em;">Expand All</span>                        
                    </label>
                </li>
            </ul>
        </div>*@
    </div>

        @section scripts {
            <environment include="Development">
                <script src="~/js/fc-engine.js" asp-append-version="true"></script>

            </environment>
            <environment exclude="Development">
            </environment>

        }
