@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="main-box">
        <div class="panel">
            <ul class="panel-list">
                @if (Model.PreviousLessonId > 0)
                {
                <li class="panel-list-item panel-list-item-button">
                    <a class="remove-text-decoration color-black" asp-page="Index" asp-route-lessonid="@Model.PreviousLessonId">
                        <span class="panel-list-item-content">
                            &lt;&lt; Previous Lesson
                        </span>
                    </a>
                </li>
                }
                <li class="panel-list-item">
                    <div class="control-panel-divider"><div />
                </li>
                <li class="panel-list-item panel-list-item-button">
                    <label  for="expand-all" style="width:100%; display:flex;align-items:center;justify-content:center;">
                        @*<div style="width:100%;">*@
                            <label class="switch">
                                <input id="expand-all" type="checkbox">
                                <span class="slider round main-theme-background-color"></span>
                            </label>
                            <span class="panel-list-item-content" style="margin-left: 0.3em;">Study</span>
                        @*</div>*@
                    </label>
                </li>
                <li class="panel-list-item">
                    <div class="control-panel-divider"><div />
                </li>
                @if (Model.NextLessonId > 0)
                {

                    <li class="panel-list-item panel-list-item-button">
                        <a class="remove-text-decoration color-black" asp-page="Index" asp-route-lessonid="@Model.NextLessonId">
                            <span class="panel-list-item-content">
                                Next Lesson >>
                            </span>
                        </a>
                    </li>
                }

            </ul>
        </div>

       
        <div id="box-image" class="box-image" style="background-color: gray;">
            @if (Model.Lesson != null)
            {
                if (Model.Lesson?.Image != null)
                {
                    <img id="lesson-image" src="@Model.Lesson?.Image?.ImageUrlPath" alt="@Model.Lesson?.Image?.ImageTitle">
                    @foreach (var flashcard in Model.Lesson?.Flashcards)
                    {
                        <partial name="../Pages/Shared/_Flashcard.cshtml" for="@flashcard" />
                    }
                }
            }
            @if (!String.IsNullOrEmpty(Model.Lesson?.Image?.AuthorUrl))
            {
                <div style="display:flex;justify-content:flex-end;">
                    <a target="_blank" href="@Model.Lesson?.Image?.AuthorUrl" style="font-size:0.6em;border-radius:1px;padding:0.2em;position:relative;right:0;top:-0.4em;background:lightblue;text-decoration:none;">Photograph by</a>
                </div>
            }

            <div class="inflatable-div" style="width:100%;height:50px;position:relative;">

            </div>

        </div>
    </div>

        @section scripts {
            <environment include="Development">
                <script src="~/js/jquery-3.4.1.min.js" asp-append-version="true"></script>
                <script src="~/js/pxem.jQuery.js" asp-append-version="true"></script>
                <script src="~/js/fc-engine.js" asp-append-version="true"></script>

            </environment>
            <environment exclude="Development">
                @*<script type="text/javascript">alert('hello');</script>*@
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
                </script>
                <script src="~/js/fc-engine.js" asp-append-version="true"></script>

            </environment>

        }
